In [54]:
import pandas as pd 
import numpy as np

In [55]:
df = pd.read_csv('/Users/pranaymishra/Desktop/sih1429/ommas_main/static/data/ariyalur.csv')

In [56]:
df

,DISTRICT_NAME,BLOCK_NAME,SANCTION_YEAR,IMS_PACKAGE_ID,IMS_ROAD_NAME,IMS_PAV_LENGTH,NQM_INSP_COUNT,NQM_GRADE,SQM_INSP_COUNT1,SQM_GRADE
0,Ariyalur,Andimadam,2014-2015,TN3088,L046-Devanur to Kalvettu road (VR2066),1.515,0,--,1,Satisfactory
1,Ariyalur,Andimadam,2014-2015,TN3090,L060-Silambur to Thirukonam road (VR2180),5.400,0,--,1,Satisfactory
2,Ariyalur,Andimadam,2017-2018,TN30113,MRL29-Therkunatham to Kattathur Road,2.699,0,--,1,Required Improvement
3,Ariyalur,Andimadam,2017-2018,TN30113,MRL11-Periyathathur - Velichankudi to Keelaned...,1.714,0,--,2,Unsatisfactory
4,Ariyalur,Andimadam,2017-2018,TN30114,MRL17-Andimadam to Pattanakuruchi - Melaneduva...,3.900,0,--,1,Satisfactory
...,...,...,...,...,...,...,...,...,...,...
64,Ariyalur,Thirumanur,2014-2015,TN3092,L059-Puthur to Ayansuthamalli road,1.550,0,--,1,Satisfactory
65,Ariyalur,Thirumanur,2014-2015,TN3093,L041-Sullankudi to Elanachipuram,2.565,0,--,2,Satisfactory
66,Ariyalur,Thirumanur,2014-2015,TN3093,L053-Angiyanoor to Koorathakudi,2.016,0,--,1,Satisfactory
67,Ariyalur,Thirumanur,2014-2015,TN3093,L042-T.T road-Vadugapalayam road (VR109),1.405,0,--,1,Satisfactory
68,Ariyalur,Thirumanur,2018-2019,TN30131,L064-PM Road to Parpanacheri (VR6105),5.200,0,--,1,Satisfactory

In [57]:
df = df.drop(df.columns[:12], axis=1)

In [58]:
df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68]

[69 rows x 0 columns]

In [59]:
df = df.drop(['Textbox67'], axis=1)

KeyError: "['Textbox67'] not found in axis"

In [ ]:
df

,DISTRICT_NAME,BLOCK_NAME,SANCTION_YEAR,IMS_PACKAGE_ID,IMS_ROAD_NAME,IMS_PAV_LENGTH,NQM_INSP_COUNT,NQM_GRADE,SQM_INSP_COUNT1,SQM_GRADE,Textbox72,Textbox73,Textbox74
0,Chengalpattu,Acharapakkam,2014-2015,TN188,L029-CW Road to Sendivakkam Road,1.600,0,--,1,Satisfactory,198.021,0,103
1,Chengalpattu,Acharapakkam,2014-2015,TN188,Vedanthangal roa sukkankollai Road,3.050,0,--,4,Satisfactory,198.021,0,103
2,Chengalpattu,Acharapakkam,2014-2015,TN188,UKA Road sempoondi road,1.000,0,--,1,Satisfactory,198.021,0,103
3,Chengalpattu,Acharapakkam,2016-2017,TN193,L067-Keelamur Ramapurm Via Pathiri Road,2.100,0,--,1,Satisfactory,198.021,0,103
4,Chengalpattu,Acharapakkam,2017-2018,TN01100,MRL09-kiazhanivakkam to Muniyanthangal Road,4.200,0,--,2,Satisfactory,198.021,0,103
...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Chengalpattu,Thiruporur,2017-2018,TN0197,MRL34-Illalur Eachangadu Road,1.088,0,--,2,Satisfactory,198.021,0,103
65,Chengalpattu,Thiruporur,2018-2019,TN01132,L035-Padur Colony Road,1.071,0,--,1,Satisfactory,198.021,0,103
66,Chengalpattu,Thiruporur,2018-2019,TN01132,L061-Alathur Colony Road,1.000,0,--,1,Satisfactory,198.021,0,103
67,Chengalpattu,Thiruporur,2018-2019,TN01133,L085-Periyavippadu Road,0.864,0,--,1,Satisfactory,198.021,0,103
68,Chengalpattu,Thiruporur,2018-2019,TN01133,L077-ArungundramKunnapattu Road,2.291,0,--,1,Satisfactory,198.021,0,103

In [ ]:
df = df.drop(['Textbox72','Textbox73','Textbox74'], axis=1)

In [ ]:
df

,DISTRICT_NAME,BLOCK_NAME,SANCTION_YEAR,IMS_PACKAGE_ID,IMS_ROAD_NAME,IMS_PAV_LENGTH,NQM_INSP_COUNT,NQM_GRADE,SQM_INSP_COUNT1,SQM_GRADE
0,Chengalpattu,Acharapakkam,2014-2015,TN188,L029-CW Road to Sendivakkam Road,1.600,0,--,1,Satisfactory
1,Chengalpattu,Acharapakkam,2014-2015,TN188,Vedanthangal roa sukkankollai Road,3.050,0,--,4,Satisfactory
2,Chengalpattu,Acharapakkam,2014-2015,TN188,UKA Road sempoondi road,1.000,0,--,1,Satisfactory
3,Chengalpattu,Acharapakkam,2016-2017,TN193,L067-Keelamur Ramapurm Via Pathiri Road,2.100,0,--,1,Satisfactory
4,Chengalpattu,Acharapakkam,2017-2018,TN01100,MRL09-kiazhanivakkam to Muniyanthangal Road,4.200,0,--,2,Satisfactory
...,...,...,...,...,...,...,...,...,...,...
64,Chengalpattu,Thiruporur,2017-2018,TN0197,MRL34-Illalur Eachangadu Road,1.088,0,--,2,Satisfactory
65,Chengalpattu,Thiruporur,2018-2019,TN01132,L035-Padur Colony Road,1.071,0,--,1,Satisfactory
66,Chengalpattu,Thiruporur,2018-2019,TN01132,L061-Alathur Colony Road,1.000,0,--,1,Satisfactory
67,Chengalpattu,Thiruporur,2018-2019,TN01133,L085-Periyavippadu Road,0.864,0,--,1,Satisfactory
68,Chengalpattu,Thiruporur,2018-2019,TN01133,L077-ArungundramKunnapattu Road,2.291,0,--,1,Satisfactory

In [ ]:
csv_file_path = '/Users/pranaymishra/Desktop/sih1429/ommas_main/static/data/updated_ariyalur.csv'

# Save the DataFrame to Excel
df.to_csv(csv_file_path, index=False)