In [23]:
import pandas as pd 
import numpy as np

In [24]:
path = 'sqm_monitors_jh.csv'

In [25]:
df = pd.read_csv(path)

In [26]:
df

,Textbox38,Textbox51,Textbox55,Textbox180,Textbox175,Textbox6,Textbox115,Textbox129,Textbox13,Textbox15,...,Textbox210,Textbox211,Textbox16,Textbox28,Textbox35,Textbox83,Textbox43,Textbox49,Textbox58,Textbox77
0,Grading,Completed Works,Ongoing Works,Sr.No.,Monitor,Year,Month,State,District,S,...,4,711,728,22,42,792,244,8,0,252
1,Grading,Completed Works,Ongoing Works,Sr.No.,Monitor,Year,Month,State,District,S,...,4,711,728,22,42,792,244,8,0,252
2,Grading,Completed Works,Ongoing Works,Sr.No.,Monitor,Year,Month,State,District,S,...,4,711,728,22,42,792,244,8,0,252
3,Grading,Completed Works,Ongoing Works,Sr.No.,Monitor,Year,Month,State,District,S,...,4,711,728,22,42,792,244,8,0,252
4,Grading,Completed Works,Ongoing Works,Sr.No.,Monitor,Year,Month,State,District,S,...,4,711,728,22,42,792,244,8,0,252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,Grading,Completed Works,Ongoing Works,Sr.No.,Monitor,Year,Month,State,District,S,...,4,711,728,22,42,792,244,8,0,252
201,Grading,Completed Works,Ongoing Works,Sr.No.,Monitor,Year,Month,State,District,S,...,4,711,728,22,42,792,244,8,0,252
202,Grading,Completed Works,Ongoing Works,Sr.No.,Monitor,Year,Month,State,District,S,...,4,711,728,22,42,792,244,8,0,252
203,Grading,Completed Works,Ongoing Works,Sr.No.,Monitor,Year,Month,State,District,S,...,4,711,728,22,42,792,244,8,0,252
204,Grading,Completed Works,Ongoing Works,Sr.No.,Monitor,Year,Month,State,District,S,...,4,711,728,22,42,792,244,8,0,252

In [27]:
print(df)

    Textbox38        Textbox51      Textbox55 Textbox180 Textbox175 Textbox6  \
0     Grading  Completed Works  Ongoing Works     Sr.No.    Monitor     Year
1     Grading  Completed Works  Ongoing Works     Sr.No.    Monitor     Year
2     Grading  Completed Works  Ongoing Works     Sr.No.    Monitor     Year
3     Grading  Completed Works  Ongoing Works     Sr.No.    Monitor     Year
4     Grading  Completed Works  Ongoing Works     Sr.No.    Monitor     Year
..        ...              ...            ...        ...        ...      ...
200   Grading  Completed Works  Ongoing Works     Sr.No.    Monitor     Year
201   Grading  Completed Works  Ongoing Works     Sr.No.    Monitor     Year
202   Grading  Completed Works  Ongoing Works     Sr.No.    Monitor     Year
203   Grading  Completed Works  Ongoing Works     Sr.No.    Monitor     Year
204   Grading  Completed Works  Ongoing Works     Sr.No.    Monitor     Year

    Textbox115 Textbox129 Textbox13 Textbox15  ... Textbox210 Textbox211  \
0        Month      State  District         S  ...          4        711
1        Month      State  District         S  ...          4        711
2        Month      State  District         S  ...          4        711
3        Month      State  District         S  ...          4        711
4        Month      State  District         S  ...          4        711
..         ...        ...       ...       ...  ...        ...        ...
200      Month      State  District         S  ...          4        711
201      Month      State  District         S  ...          4        711
202      Month      State  District         S  ...          4        711
203      Month      State  District         S  ...          4        711
204      Month      State  District         S  ...          4        711

    Textbox16 Textbox28 Textbox35 Textbox83 Textbox43 Textbox49 Textbox58  \
0         728        22        42       792       244         8         0
1         728        22        42       792       244         8         0
2         728        22        42       792       244         8         0
3         728        22        42       792       244         8         0
4         728        22        42       792       244         8         0
..        ...       ...       ...       ...       ...       ...       ...
200       728        22        42       792       244         8         0
201       728        22        42       792       244         8         0
202       728        22        42       792       244         8         0
203       728        22        42       792       244         8         0
204       728        22        42       792       244         8         0

    Textbox77
0         252
1         252
2         252
3         252
4         252
..        ...
200       252
201       252
202       252
203       252
204       252

[205 rows x 81 columns]

In [28]:
df = df.iloc[:, 26:]

In [29]:
df

,MONITOR_NAME,ADMIN_IM_YEAR,ADMIN_IM_MONTH1,STATE_NAME,DISTRICT_NAME,COMP_S,COMP_SRI,COMP_U,C_GRADE_COUNT_T,ONGOING_S,...,Textbox210,Textbox211,Textbox16,Textbox28,Textbox35,Textbox83,Textbox43,Textbox49,Textbox58,Textbox77
0,Aftab Alam,2023,January,Jharkhand,Dhanbad,0,0,0,0,11,...,4,711,728,22,42,792,244,8,0,252
1,Aftab Alam,2023,March,Jharkhand,Simdega,2,0,0,2,1,...,4,711,728,22,42,792,244,8,0,252
2,Aftab Alam,2023,May,Jharkhand,Simdega,0,0,0,0,0,...,4,711,728,22,42,792,244,8,0,252
3,Aftab Alam,2023,June,Jharkhand,Sahibganj,0,0,0,0,4,...,4,711,728,22,42,792,244,8,0,252
4,Aftab Alam,2023,October,Jharkhand,Dumka,5,0,0,5,0,...,4,711,728,22,42,792,244,8,0,252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,Yogendra Kumar Pandit,2023,August,Jharkhand,Chatra,2,0,0,2,6,...,4,711,728,22,42,792,244,8,0,252
201,Yogendra Kumar Pandit,2023,August,Jharkhand,Koderma,0,0,0,0,2,...,4,711,728,22,42,792,244,8,0,252
202,Yogendra Kumar Pandit,2023,September,Jharkhand,Hazaribagh,1,0,0,1,3,...,4,711,728,22,42,792,244,8,0,252
203,Yogendra Kumar Pandit,2023,October,Jharkhand,Deoghar,0,0,0,0,0,...,4,711,728,22,42,792,244,8,0,252
204,Yogendra Kumar Pandit,2023,December,Jharkhand,Chatra,1,0,0,1,0,...,4,711,728,22,42,792,244,8,0,252

In [30]:
df = df.iloc[:, :-34]

In [31]:
df

,MONITOR_NAME,ADMIN_IM_YEAR,ADMIN_IM_MONTH1,STATE_NAME,DISTRICT_NAME,COMP_S,COMP_SRI,COMP_U,C_GRADE_COUNT_T,ONGOING_S,...,ONGOING_U,P_GRADE_COUNT_T,MAINT_S,MAINT_SRI,MAINT_U,M_GRADE_COUNT_T,LSB_S,LSB_SRI,LSB_U,L_GRADE_COUNT_T
0,Aftab Alam,2023,January,Jharkhand,Dhanbad,0,0,0,0,11,...,0,11,0,0,0,0,0,0,0,0
1,Aftab Alam,2023,March,Jharkhand,Simdega,2,0,0,2,1,...,0,1,6,0,0,6,2,0,0,2
2,Aftab Alam,2023,May,Jharkhand,Simdega,0,0,0,0,0,...,0,0,5,0,0,5,0,0,0,0
3,Aftab Alam,2023,June,Jharkhand,Sahibganj,0,0,0,0,4,...,0,4,0,0,0,0,0,0,0,0
4,Aftab Alam,2023,October,Jharkhand,Dumka,5,0,0,5,0,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,Yogendra Kumar Pandit,2023,August,Jharkhand,Chatra,2,0,0,2,6,...,0,6,5,0,0,5,1,0,0,1
201,Yogendra Kumar Pandit,2023,August,Jharkhand,Koderma,0,0,0,0,2,...,0,2,0,0,0,0,0,0,0,0
202,Yogendra Kumar Pandit,2023,September,Jharkhand,Hazaribagh,1,0,0,1,3,...,0,3,0,0,0,0,0,0,0,0
203,Yogendra Kumar Pandit,2023,October,Jharkhand,Deoghar,0,0,0,0,0,...,0,0,3,0,0,3,7,0,0,7
204,Yogendra Kumar Pandit,2023,December,Jharkhand,Chatra,1,0,0,1,0,...,0,0,1,0,0,1,0,0,0,0

In [32]:
df.to_csv(path, index=False)